.card {
  &-container {
    display: inline-flex;
    flex-direction: column;
    margin: $basic-margin;
    background: $white;
    border: 1px solid $basic-border-color;
    border-radius: $basic-border-radius;
  }

  &__header {
    padding: 8px;
    background-color: $primary-light-color;
    border-radius: $basic-border-radius $basic-border-radius 0 0;

    .svg-inline--fa {
      margin-right: 5px;
    }
  }

  &__content {
    padding: 12px;
  }
}