.home {
  &-header {
    flex-basis: 100%;
    margin-bottom: 20px;

    &__title {
      display: inline-block;
      position: relative;
      padding-left: 10px;

      // &::before {
      //   content: '';
      //   display: inline-block;
      //   position: absolute;
      //   bottom: -10px;
      //   height: 1px;
      //   width: 200px;
      //   background-color: $secondary-color;
      // }
    }
  }
}