.navigation {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: $aside-background-color;
    border-right: 1px solid $basic-border-color;
    transition: width 0.5s;

    &--hidden {
      width: 0;
      border: none;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    padding: 20px;
    font-size: 2em;
    border-radius: 50%;
    background-color: $ternary-color;
  }

  &__list {
    width: 100%;
    min-width: 180px;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $basic-border-color;
    }

    &--active {
      background-color: $aside-background-color-active;
    }

    &-link {
      display: inline-block;
      width: 100%;
      padding: 15px;

      .svg-inline--fa {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
