$primary-color: #8ac4ff;
$secondary-color: #b9dcff;
$ternary-color: #8aadc5;
$quaternary-color: #397298;

$white: #fbfbfb;
$grey-light: #f7f7f7;
$grey-medium: #e2e2e2;
$grey-dark: #6d777f;

$text-color-basic: #131313;
$text-color-secondary: #131313;
$text-color-active: #131313;

$basic-background-color: white;
$aside-background-color: $grey-light;
$aside-background-color-dark: $grey-medium;

$basic-border-color: lighten($grey-dark, 45%);