body {
  margin: 0;

  * {
    box-sizing: border-box;
  }

  a, a:visited, a:active {
    text-decoration: none;
    color: $text-color-basic;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }
}
